<!DOCTYPE html>
<html>
    <style>
        #forgot-button{
            margin-top: 10px;
        }
        body{
                background-image: url('pg.jpg'); 
                background-repeat:no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
    </style>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="ui">
                <h1 class="text-center"><b>Forgot Password</b></h1>
                <div class="col-lg-6 col-lg-offset-3">
                    <form class="form-group">
                        <div class="row">
                            <label>Enter Your Email</label>
                            <input type="text" name="email" id="email" class="form-control" required>
                        </div>
                        <div class="row">
                            <input type="button" name="button" id="forgot-button" value="Send Mail" class="btn btn-primary btn-block btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
        <script src="./forgot.js"></script>
    </body>
</html>